<div class='main-container shadow p-3 mb-5 bg-body rounded'>
  <h2>
    Cadastre-se!
  </h2>

  <form class='row g-3'>
    <div class='col-md-6'>
      <label for='name' class='form-label'>Nome</label>
      <input
        type='text'
        class='form-control'
        id='name'
        placeholder='Digite seu nome'
      />
    </div>
    <div class='col-md-6'>
      <label for='email' class='form-label'>E-mail</label>
      <input
        type='email'
        class='form-control'
        id='email'
        placeholder='Digite seu e-mail'
      />
    </div>
    <div class='col-12'>
      <label for='endereco' class='form-label'>Endereço</label>
      <input
        type='text'
        class='form-control'
        id='endereco'
        placeholder='Digite aqui seu endereço'
      />
    </div>
    <div class='col-md-6'>
      <label for='cidade' class='form-label'>Cidade</label>
      <input
        type='text'
        class='form-control'
        id='cidade'
        placeholder='Digite sua cidade'
      />
    </div>
    <div class='col-md-4'>
      <label for='estado' class='form-label'>Estado</label>
      <select id='estado' class='form-select'>
        <option selected>Escolha</option>
        <option>...</option>
      </select>
    </div>
    <div class='col-md-2'>
      <label for='cep' class='form-label'>CEP</label>
      <input type='text' class='form-control' id='cep' />
    </div>
    <div class='col-12 d-grid'>
      <button type='submit' class='btn btn-outline-dark'>Cadastrar</button>
    </div>
  </form>
</div>