* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
}

h1 {
  text-align: center;
  margin: 20px 0;
}
/* GRID */
.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.container-fluid .navbar-brand {
  color: yellowgreen;
  font-weight: 600;
  transition: 0.5s;
}

.main-container {
  display: flex;
  flex-direction: column;

  background-color: #fff;
  height: auto;
  width: auto;
  padding: 20px;
  margin: 60px auto;
}

.btn-custom {
  margin: 20px 0 0;
}

/* login e register */
.auth-container {
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.auth-container h2 {
  margin: 2em 0 1em;
  border-left: 5px solid yellowgreen;
  padding: 0.3em;
  width: 100px;
}

.auth-container a {
  color: yellowgreen;
  text-decoration: none;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.3em;
}

.form-control input,
.form-control textarea {
  padding: 7px;
  border-radius: 3px;
  border: none;
  outline: none;
}

form input[type='submit'],
.btn-custom {
  background-color: yellowgreen;
  color: white;
  border: 1px solid yellowgreen;
  padding: 0.5em 1.2em;
  margin: 1em 0;
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
  width: 100%;
}

.btn2 {
  background-color: yellowgreen;
  color: white;
  border: 1px solid yellowgreen;
  padding: 0.5em 1.2em;
  margin: 1em 0;
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
}

form input[type='submit']:hover,
.btn-custom:hover {
  background-color: transparent;
  color: yellowgreen;
  border: 1px solid yellowgreen;
}

.btn2:hover {
  background-color: transparent;
  color: yellowgreen;
  border: 1px solid yellowgreen;
}

/* Messages */
.message {
  padding: 1em;
  color: #2d2d2d;
  background-color: #e0f0c0;
  border: 1px solid yellowgreen;
  border-radius: 5px;
  text-align: center;
  margin: 2em auto -1.5em;
  max-width: 30%;
}

/* collections */
.collection-form-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
}

.collection-form-container a {
  margin-top: 2.5em;
  color: yellowgreen;
}

.collection-form-container a:hover {
  color: #2d2d2d;
}

.collection-form-container h1 {
  margin: 1em 0 0em;
  border-left: 5px solid yellowgreen;
  padding: 0.3em;
  width: 100px;
}

.collection-form-container form {
  margin-top: 1.5em;
}

/* dashboard */
.title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1.5em;
}

.title-container h2 {
  border-left: 4px solid yellowgreen;
  padding: 10px;
}

.title-container h3 {
  margin: 1.5em;
  text-align: center;
  border-left: 4px solid yellowgreen;
  width: 100px;
  padding: 0.3em;
}

.dashboard {
  height: auto;
}

.dashboard ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.dashboard ul li {
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dashboard ul li button {
  margin: 0 0.6em;
}

.dashboard .linkNew {
  color: yellowgreen;
}

.dashboard .card {
  transition: 0.3s;
}

.dashboard .card:hover {
  transform: scale(1.025);
}

/* footer */
footer {
  width: 100%;
  background-color: #0d0d0d;
  padding: 1.7em 0;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

footer span {
  color: yellowgreen;
  font-weight: bold;
}
