<div class='home-header container'>
  <h1>Shared Collections</h1>
</div>

<div class='parent'>
  <div class='div1'> </div>
  <div class='div2'>
    <div class='collections-container'>
      {{#each collections}}
        <h2>{{this.title}}</h2>
        <p>{{this.User.name}}</p>
      {{/each}}
    </div>
  </div>
</div>